PORT=4000
LISTEN_IP=0.0.0.0
ANNOUNCED_IP=
SFU_SSL_KEY_PATH=/etc/letsencrypt/live/sfu.example.com/privkey.pem
SFU_SSL_CERT_PATH=/etc/letsencrypt/live/sfu.example.com/fullchain.pem
RTC_MIN_PORT=20000
RTC_MAX_PORT=22000
CORS_ORIGINS=*
SFU_USE_HTTPS=false
