SFU_USE_HTTPS=true
RTC_MINPORT=20000
PORT=4000
CORS_ORIGINS=*
LISTEN_IP=0.0.0.0
ANNOUNCED_IP=
SFU_SSL_CERT_PATH=C:/SSAFY/S14P11D106/modustudy/modustudy.local.pem
SFU_SSL_KEY_PATH=C:/SSAFY/S14P11D106/modustudy/modustudy.local-key.pem
FFMPEG_PATH=ffmpeg
RECORDINGS_BASE_PATH=C:/SSAFY/S14P11D106/modustudy/backend/uploads
RECORDING_RTP_IP=127.0.0.1
RTC_ENABLE_UDP="false"
RTC_ENABLE_TCP="true"
RTC_PREFER_UDP="false"