[Unit]
Description=Video Conference WebSocket Server
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/video-conference-server
EnvironmentFile=/home/ubuntu/video-conference-server/.env
ExecStart=/usr/bin/java -jar build/libs/video-conference-server-0.0.1-SNAPSHOT.jar
Restart=always

[Install]
WantedBy=multi-user.target
