# === IDE (Project-wide) ===
.idea/
*.iml
.vscode/

# === OS ===
.DS_Store
Thumbs.db

# === Logs ===
*.log
/.metadata/
*.env
.env.*
!.env.example

# === Web ===
node_modules/
dist/
build/
out/
.next/
.turbo/